<section class="navigation">
  <div class="nav-mobile-container">
    <a id="nav-toggle" href="#!"><span></span></a>
  </div>
  <nav>
    <ul>
      <li>
        <%= link_to "Blog", blog_path %>
      </li>
      <li>
        <a href="#!">Projects</a>
      </li>
      <li>
        <a href="#!">Resume</a>
      </li>
      <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="nav-container">
    <ul>
      <li>
        <%= link_to "Blog", blog_path %>
      </li>
      <li>
        <a href="#!">Projects</a>
      </li>
      <li>
        <a href="#!">Resume</a>
      </li>
      <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
       <li>
        <a href="#!">Contact</a>
      </li>
    </ul>
  </div>
</section>

<section>
  <h2>Navigation</h2>
  <p>Responsive Dropdown Navigation Bar.</p>
  <p>Want to see how it's made? <a href="http://www.taniarascia.com/responsive-dropdown-navigation-bar/">Read the tutorial!</a></p>
</section>
