<section class="navigation">
  <div class="nav-container">
    <ul class="nav-list">
      <li>
        <%= link_to "Blog", blog_path %>
      </li>
      <li>
        <a href="#!">Projects</a>
      </li>
      <li>
        <a href="#!">Resume</a>
      </li>
      <li>
        <a href="#!">Contact</a>
      </li>
    </ul>
  </div>
</section>
