@import "bootstrap";

$half-image-width: 960px;
$picture-height: 983px;
$nav-height: 70px;
$footer-height: 600px;

#Footer {
  height: $footer-height;
  background-color: black;
  .container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
  i {
    font-size: 1.5em;
    padding: 10px 20px;
  }
  h2 {
    color: #888;
    font-size: 1.6em;
  }
  p {
    font-size: 1em;
    color: white;
  }
}

#Projects {
  margin-top: $picture-height;
}

#Blog {
  strong {
    font-size: xx-large;
  }
  h1 {
    font-size: 45px;
    font-weight: 800;
  }
  font-size: large;
  line-height: 1.5;
  font-family: serif;

  .container {
    margin-top: $nav-height;
  }
}

#Blog-listing, #topic {
  margin-top: $nav-height;
}

body {
  overflow-x: hidden;
}

.darken {
  position: absolute;
  top: 0px;
  background: rgba(70, 72, 82, 0.5);
  height: $picture-height;
  width: 100%;
  z-index: -1;
}

.nepal {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -$half-image-width;
  z-index: -2;
}

.text-over-image {
  width: 100%;
  position: absolute;
  top: 70px;
  padding-top:200px;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 25px;
  }
}

