$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
$picture-height: 983px;

.navigation {
  height: $nav-height;
  background: $nav-background;
  opacity: 0.8;
  margin-bottom: $picture-height - $nav-height;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: 0 20px;
      line-height: $nav-height;
      background: $nav-background;
      color: $nav-font-color;
      text-decoration: none;
      &:hover {
        background: $link-hover-color;
        color: $nav-font-color;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .nav-toggle-container {
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
    #nav-toggle {
      position: absolute;
      left: 18px;
      top: 22px;
      padding: 10px 35px 16px 0px;
      cursor: pointer;
      span, span:before, span:after {
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      span:before {
        top: -10px;
      }
      span:after {
        bottom: -10px;
      }
      &.active span {
        background-color: transparent;
        &:before,
        &:after {
        top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
  
  .nav-container {
  padding-top: $nav-height;
    ul {
      display: none;
      li {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .navigation {
    padding-bottom: 0 !important;
    margin-bottom: $picture-height - $nav-height !important;
    .nav-container {
      float: right;
      position: relative;
      left: -50%;
      ul {
        display: block !important;
        li {
          float: left;
          position: relative;
          left: 50%;
        }
      } 
    }
  }
}
