<section class="navigation">
  <div class="nav-toggle-container">
    <a id="nav-toggle"><span></span></a>
  </div>
  <div class="link-container">
    <ul>
      <li>
        <a class="scrollable" href="#Projects">
          Projects
        </a>
      </li>
      <li>
        <a class="scrollable" href="#Blog">
          Blog
        </a>
      </li>
      <li>
        <a class="scrollable" href="#Footer">
          About
        </a>
      </li>
    </ul>
  </div>
</section>
